#menu{
    position: relative;
    width: 100%;
    min-height: 960px;
    display: block;
    overflow: auto;
    background-color: #eeefef;
}

#menu .menuHeader{
    position: absolute;
    top: 60px;
    right: 50%;
    width: 100px;
    height: 100px;
}

#menu .menuHeader h1{
    text-indent: 75px;
}

#menu .decoration {
    width: 253px;
    height: 33px;
    background-image: url('../images/decoration.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#menu .menuNav{
    position: absolute;
    top: 200px;
    right: 33%;
}

#menu ul{
    width: 600px;
    list-style: none;
}

@media only screen and (max-width: 1100px) {
    #menu .menuNav{
        left: 0%;
        right: 0%;
    }
}


#menu li{
    float: left;
    padding-right: 15px;
}

#menu button {
    border: 0;
    height: 48px;
    width: 135px;
    font-family: Merriweather;
    font-size: 18px;
    outline:none;
    background-color: #eeefef;
    cursor: pointer;
}

#menu .menuList{
    font-family: Merriweather;
    font-size: 18px;
    padding-top: 360px;
    width: 90%;
    padding-left: 10%;
}

#menu .dishItem{
    width: 800px;
    height: 100px;
    float: left;
}

#menu .menuList h2{
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    float: left; 
    width: 600px; 
    overflow: hidden; 
    white-space: nowrap
}

@media only screen and (max-width: 800px) {
    #menu .menuList h2{
        width: 400px !important; 
    }
}

#menu .menuList button{
    float: left;
    width: 50px;
    height: 40px;
}

#menu .menuList h3{
    text-indent: 8px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    float: left; 
    height: 40px;
    width: 150px; 
    overflow: hidden
}

#menu .add {
    position: absolute;
    top: 300px;
    left: 100px;
    font-size: 24px;
    width: 190px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: solid;
    border-width: thin;
    color: #FFFFFF;
    background-color: #222222;
}

#menu .menuList p{
    float: left;
    font-size: 16px;
    margin:0;
    width: 600px;
}

#menu .menuList h2:after { content: " .................................................................................." }

.buttonClicked {
    border: solid !important;
    border-width: 1px !important;
    border-color: #676768 !important;
}
