#specials{
    position: relative;
    width: 100%;
    min-height: 980px;
    display: block;
    overflow: auto;
}

#specials h1 {
    padding-top: 210px;
}

#specials .decoration {
    position: absolute;
    top: 280px;
    width: 20%;
    right: 36.5%;
    height: 33px;
    background-image: url('../images/decoration.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#specials .specialItem {
    float: left;
    height: 250px;
    font-family: Merriweather;
    font-size: 16px;
    text-align: center;
}

#specials .specialItem img {
    float: left;
    height: 250px;
    width: 250px;
}

#specials .specialItem .specialInfo {
    float: left;
    background-color: #f7f7f7;
    padding-top: 40px;
    height: 210px;
    width: 250px;
}

@media screen and (min-width: 1690px) {
    .specialContainer:nth-last-child(-n+3) img{
        float: right !important;
    }
}

@media screen and (max-width: 1689px) and (min-width: 1100px) {
    .specialContainer:nth-child(-n+2) img{
        float: right !important;
    }

    .specialContainer:nth-last-child(-n+2) img{
        float: right !important;
    }
}

@media screen and (max-width: 1099px){
    .specialContainer:nth-child(odd) img{
        float: right !important;
    }
}

#specials .specialItem .specialInfo p {
    color: #343434;
}

#specials .specialsList {
    width: 90%;
    padding-left: 10%;
    padding-top: 50px;
}
